@font-face {
  font-family: 'DINConBol';
  src: url('assets/fonts/DINConBol.ttf') format('ttf'),
       url('assets/fonts/DINConBol.woff') format('woff'),
       url('assets/fonts/DINConBol.eot') format('eot'),
       url('assets/fonts/DINConBol.svg') format('svg');
       font-weight:normal;
}

@font-face {
  font-family: 'dinengschriftstd-webfont';
  src: url('assets/fonts/dinengschriftstd-webfont.ttf') format('ttf'),
       url('assets/fonts/dinengschriftstd-webfont.woff') format('woff'),
       url('assets/fonts/dinengschriftstd-webfont.eot') format('eot'),
       url('assets/fonts/dinengschriftstd-webfont.svg') format('svg');
       font-weight:normal;
}

@font-face {
  font-family: 'DINOT-Bold';
  src: url('assets/fonts/DINOT-Bold.ttf') format('ttf');
       font-weight:bold;
}

@font-face {
  font-family: 'dinpro-black-webfont';
  src: url('assets/fonts/dinpro-black-webfont.ttf') format('ttf'),
       url('assets/fonts/dinpro-black-webfont.woff') format('woff'),
       url('assets/fonts/dinpro-black-webfont.eot') format('eot'),
       url('assets/fonts/dinpro-black-webfont.svg') format('svg');;
       font-weight:normal;
}

@font-face {
  font-family: 'dinpro-bold-webfont';
  src: url('assets/fonts/dinpro-bold-webfont.ttf') format('ttf'),
       url('assets/fonts/dinpro-bold-webfont.woff') format('woff'),
       url('assets/fonts/dinpro-bold-webfont.eot') format('eot'),
       url('assets/fonts/dinpro-bold-webfont.svg') format('svg');;
       font-weight:bold;
}

@font-face {
  font-family: 'dinpro-bold-webfont';
  src: url('assets/fonts/dinpro-bold-webfont.ttf') format('ttf'),
       url('assets/fonts/dinpro-bold-webfont.woff') format('woff'),
       url('assets/fonts/dinpro-bold-webfont.eot') format('eot'),
       url('assets/fonts/dinpro-bold-webfont.svg') format('svg');;
       font-weight:bold;
}

@font-face {
  font-family: 'dinpro-regular';
  src: url('assets/fonts/dinpro-regular-webfont.ttf') format('ttf'),
       url('assets/fonts/dinpro-regular-webfont.woff') format('woff'),
       url('assets/fonts/dinpro-regular-webfont.eot') format('eot'),
       url('assets/fonts/dinpro-regular-webfont.svg') format('svg');;
       font-weight:normal;
}

@font-face {
  font-family: 'footable';
  src: url('assets/fonts/footable.ttf') format('ttf'),
       url('assets/fonts/footable.woff') format('woff'),
       url('assets/fonts/footable.eot') format('eot'),
       url('assets/fonts/footable.svg') format('svg');;
       font-weight:normal;
}

html {
  height: 100%;
  width: 100%;
}


.body {
  font-size: 12px;
  font-family: 'dinpro-regular';
  height: 100%;
  line-height: 28px;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* ====================================================
2. Bootstrap Overwrite
=====================================================*/

.navbar-dark .navbar-nav .nav-link{
  color: black;
  font-weight: bold;
  font-size: 12px;
  border-bottom: 2px solid transparent;
}

.navbar-dark .navbar-nav .nav-link:hover{
  border-bottom: 2px solid red;
  color: red;
}

.navbar-dark .navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(0, 0, 0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler {
  border-color: black;
}

.navbar {
  padding-bottom:15px;
  margin-bottom:2rem;
}

.dropdown .dropdown-menu {
  border-radius:0;
 }

 .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
   background-color: #D1D1D1;
   color: black;
 }

 

  /* ====================================================
3. Custom Code
=====================================================*/

.logo-header{
  padding-left: 30px; 
  width: 300px;
}

.nav-icon{
  width: 20px;
  padding-right: 2px;
  display: inline-block;
}

.nav-icon-followus, .nav-icon-price{
  width: 22px;
  padding-right: 5px;
  object-fit: cover;
}

.notification-bar{
  background-color: #585858;
  color: white;
}

.left-notibar{
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}


.left-notibar  ul li {
  background: none;
  color: white;
}

.left-notibar  ul li a, .right-notibar  ul li a{
text-decoration: none;
color: white;
}

.nav-link:focus, .nav-link:hover{
  color: white;
}

.right-notibar{
   font-size: 12px;
}

.right-notibar ul li.list-group-item  {
   background: none;
   color: white;
}

.bg-nav{
 background-color:  white;
 box-shadow: inset 0px -5px 6px -3px rgba(0, 0, 0, 0.25);
 height: 90px;
 /* border-bottom: 3px solid black; */
}

.bg-nav2 {
  background-color: #EBECEF;
  color: #000000;
}

.search-area{
 display: flex;
 width: 14%; 
 /* z-index: 100; */
 /* padding-right:30px ; */
}

.desktop-hide{
  display: none;
}

.inner-shadow{
  box-shadow: inset 0 0 6px #000;
}

.parallax-one {
  padding-top: 400px; 
  padding-bottom: 400px; 
  overflow: hidden; 
  position: relative; 
  width: 100%; 
  right:0 !important;
  background-image: url(../img/banner/banner-1.png); 
  background-attachment: fixed; 
  background-size: cover; 
  -moz-background-size: cover; 
  -webkit-background-size: cover; 
  background-repeat: no-repeat; 
  background-position: top center;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.4);
}

  .section1{
    margin-top: -35px;
  }

  .cover-content{
    color: white;
  }

  .cover-category, .cover-description {
    position: absolute;
    left: 10%;
    font-size: 12px;
  }

  .cover-category {
    top:10px;
    text-transform: uppercase;
    animation:  zoomIn 0.4s;
  }

  .cover-description{
    bottom: 300px;
    width: 80%;
  }

  .cover-description h1{
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bold;

    animation: zoomIn 0.5s;
  }

  .cover-description p {
    animation:  zoomIn 0.8s;
    font-size: 15px;
  }


  .section2, .section3, .section5, .section6{
    padding: 50px 130px;
  }
  .description-block{
    text-align: left;
  }

  .description-block h2{
    color: #005EAA;
    padding-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .section3, .section6{
    background-color: rgb(235, 236, 239,0.5);
  }

  .card-display{
    margin: 14px;
    width: 21%;
    background-color: #005EAA;
    color: white;
    height: 450px;
    text-align: left;
  }

  .card-display:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .card-display .card-body img{
    padding: 20px 0px;
  }

  .card-display .card-body .card-title{
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 30px;
  }

  .card-display .card-body h5::after {
    display: block;
      content: '';
     width: 30%;
     height: 5px;
     background: white;
     position:absolute;
     top: 155px;
     left: 30px;
   }

   .parallax-two {
    padding-top: 200px; 
    padding-bottom: 200px; 
    overflow: hidden; 
    position: relative; 
    width: 100%; 
    background-image: url(../img/banner/banner-3.png); 
    background-attachment: fixed; 
    background-size: cover; 
    -moz-background-size: cover; 
    -webkit-background-size: cover; 
    background-repeat: no-repeat; 
    background-position: top center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.4);
  }

  .target-content{
    padding: 130px;
    color: white;
  }

  .target-block h2{
    color: white;
    padding-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .section5{
    background-color: #005EAA;
    color: white;
    height: 485px;
  }
  .section5 .quote-title{
    color: #FBDF2C;
    text-transform: uppercase;
    padding: 30px 0;
  }

  .section5 .quote{
    padding: 30px 0;
    width: 500px;
  }

  .section5 .quote-name, .quote-position{
    line-height: -20px;
  }

  .bulletin-card{
    margin: 10px;
    width: 45%;
    height: 150px;
    text-align: left;
  }

  .bulletin-card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }

  .bulletin-card .upper-section span{
   background-color: #005EAA;
   color: white;
   padding: 5px 10px;
   text-transform: uppercase;
  }

  .bulletin-card .upper-section p{
    color: #005EAA;
    font-weight: bold;
  }

  /* TEST */

  .image-post img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.container {
    margin: 25px auto
}

  .image-post {
    position: relative;
    width: 100%;
    overflow: hidden
}


.image-post .overlay {
    position: absolute;
    bottom: 0;
    padding-left: 40px;
    padding-top: 30%;
    width: 100%;
    color: white;
    font-size: 20px;
    z-index: 5;
    height: 100%;
}

.image-post .overlay h3{
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 10px;
  /* top: 30px; */
}

.image-post .overlay a{
  font-size: 15px;
  background: #E73E2E;
  color: white;
  border-radius: 20px;
  padding: 10px 30px;
  text-decoration: none;
  /* text-transform: uppercase; */
  /* top: 30px; */
}

.image-post .overlay::before {
    content: "";
    background: linear-gradient(90deg, #245EA5 0%, rgba(22, 57, 101, 0.609375) 43.13%, rgba(0, 0, 0, 0) 93.04%);;
    height: 150%;
    width: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: -150px;
    z-index: -2;
    /* opacity: 0.5; */
    transition: all 0.3s ease-out
}

.image-post:hover .overlay {
    color: white;
    background: rgb(0, 94, 170,0.5);
    height: 100%;
}

.image-post:hover .overlay::before {
    bottom: 0px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;
    overflow-x:hidden;
  }

}

@media (min-width: 992px) and (max-width: 1500px){
  .main-nav {
    /* display: flex;
    flex-flow: wrap; */
    display: flex;
    flex-flow: wrap;
  } 
}

@media (max-width:1200px){
  .search-area {
    display: none;
  }

  #second-nav{
    display: none;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  border-radius:0;
 }

 .bg-nav1{
   margin-left: 0px;
   display: flex;
   flex-wrap: wrap;
   background-color: white;
   margin-top: 12px;
 }
}

@media (max-width:992px){
  .bg-nav2 {
    display: none;
  }
}


@media (min-width: 768px) {  
  .dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0;
    border-radius:0;
   }

   .bg-nav1{
     margin-left: -140px;
     display: flex;
     flex-wrap: wrap;
   }
}

@media (max-width: 576px) { 
    .mobile-hide{
        display: none;
    }

    .navbar-dark .navbar-nav .nav-link{
      color: white;
    }

    .bg-nav1 {
      background-color: black;
      color: white;
    }

    .desktop-hide{
      display: block;
    }
    #first-nav {
      margin-top:12px;
    }

    .cover-description h1{
      font-size: 50px;
    }

    .section2, .section3, .section5, .section6{
      padding: 50px 70px 55px 50px;
    }

    .card-display {
      width: 100%;
      height: 300px;
    }

    .target-content{
      padding: 65px;
    }

    .section5 .quote{
      width: 300px;
    }

    .section5 {
      height: 665px;
    }

    .section5 .right-section img {
      width: 400px;
      margin-left: -70px;
    }

    .section5 .quote-title {
      padding: 0;
    }

    .bulletin-card{
      width: 100%;
      height: 270px;
    }

    .bulletin-card .upper-section p {
      display: grid;
    }

    .logo-header{
      width: 100%;
    }
 }

 /* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */
  




