html {
  height: 100%;
  width: 100%;
}

.body {
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
  height: 100%;
  line-height: 28px;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  /* color: #444444;
  background-color: #FFFFFFFF; */
}



/* ====================================================
2. Bootstrap Overwrite
=====================================================*/

.navbar-dark .navbar-nav .nav-link{
  color: black;
  font-weight: bold;
  font-size: 12px;
}

.navbar-dark .navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(0, 0, 0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler {
  border-color: black;
}

.navbar {
  padding-bottom:15px;
  margin-bottom:2rem;
}

.dropdown .dropdown-menu {
  border-radius:0;
 }

 .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
   background-color: #D1D1D1;
   color: black;
 }

 

  /* ====================================================
3. Custom Code
=====================================================*/

.nav-icon{
  width: 20px;
  padding-right: 5px;
}

.nav-icon-followus, .nav-icon-price{
  width: 22px;
  padding-right: 5px;
  object-fit: cover;
}

.notification-bar{
  background-color: #585858;
  color: white;
}

.left-notibar{
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}


.left-notibar  ul li {
  background: none;
  color: white;
}

.left-notibar  ul li a, .right-notibar  ul li a{
text-decoration: none;
color: white;
}

.right-notibar{
   font-size: 12px;
}

.right-notibar ul li.list-group-item  {
   background: none;
   color: white;
}

.bg-nav{
 background-color:  white;
 box-shadow: inset 0px -5px 6px -3px rgba(0, 0, 0, 0.25);
 height: 90px;
 /* border-bottom: 3px solid black; */
}

.bg-nav2 {
  background-color: #EBECEF;
  color: #000000;
}

.search-area{
 display: flex;
 width: 14%; 
 z-index: 100;
 padding-right:30px ;
}

.desktop-hide{
  display: none;
}

.inner-shadow{
  box-shadow: inset 0 0 6px #000;
}

.parallax-one {
  padding-top: 400px; 
  padding-bottom: 400px; 
  overflow: hidden; 
  position: relative; 
  width: 100%; 
  background-image: url(../img/banner/banner-1.png); 
  background-attachment: fixed; 
  background-size: cover; 
  -moz-background-size: cover; 
  -webkit-background-size: cover; 
  background-repeat: no-repeat; 
  background-position: top center;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.4);
}

  .section1{
    margin-top: -35px;
  }

  .cover-content{
    color: white;
  }

  .cover-category, .cover-description {
    position: absolute;
    left: 10%;
  }

  .cover-category {
    top:10px;
    text-transform: uppercase;
  }

  .cover-description{
    bottom: 300px;
  }

  .cover-description h1{
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .section2, .section3, .section5, .section6{
    padding: 50px 130px;
  }
  .description-block{
    text-align: justify;
  }

  .description-block h2{
    color: #005EAA;
    padding-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .section3, .section6{
    background-color: rgb(235, 236, 239,0.5);
  }

  .card-display{
    margin: 14px;
    width: 21%;
    background-color: #005EAA;
    color: white;
    height: 450px;
    text-align: left;
  }

  .card-display .card-body img{
    padding: 20px 0px;
  }

  .card-display .card-body .card-title{
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 30px;
  }

  .card-display .card-body h5::after {
    display: block;
      content: '';
     width: 30%;
     height: 5px;
     background: white;
     position:absolute;
     top: 155px;
     left: 30px;
   }

   .parallax-two {
    padding-top: 200px; 
    padding-bottom: 200px; 
    overflow: hidden; 
    position: relative; 
    width: 100%; 
    background-image: url(../img/banner/banner-3.png); 
    background-attachment: fixed; 
    background-size: cover; 
    -moz-background-size: cover; 
    -webkit-background-size: cover; 
    background-repeat: no-repeat; 
    background-position: top center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.4);
  }

  .target-content{
    padding: 130px;
    color: white;
  }

  .target-block h2{
    color: white;
    padding-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .section5{
    background-color: #005EAA;
    color: white;
    height: 485px;
  }
  .section5 .quote-title{
    color: #FBDF2C;
    text-transform: uppercase;
    padding: 30px 0;
  }

  .section5 .quote{
    padding: 30px 0;
    width: 500px;
  }

  .section5 .quote-name, .quote-position{
    line-height: -20px;
  }

  .bulletin-card{
    margin: 10px;
    width: 45%;
    height: 150px;
    text-align: left;
  }

  .bulletin-card .upper-section span{
   background-color: #005EAA;
   color: white;
   padding: 5px 10px;
   text-transform: uppercase;
  }

  .bulletin-card .upper-section p{
    color: #005EAA;
    font-weight: bold;
  }

  /* TEST */

  .image-post img {
    width: 100%;
    height: 400px;
}

.container {
    margin: 25px auto
}

  .image-post {
    position: relative;
    width: 100%;
    overflow: hidden
}

.image-post .overlay {
    position: absolute;
    bottom: 0;
    padding-left: 40px;
    padding-top: 30%;
    width: 100%;
    color: white;
    font-size: 20px;
    z-index: 5;
    height: 100%;
}

.image-post .overlay h3{
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 10px;
  /* top: 30px; */
}

.image-post .overlay a{
  font-size: 15px;
  background: #E73E2E;
  color: white;
  border-radius: 20px;
  padding: 10px 30px;
  text-decoration: none;
  /* text-transform: uppercase; */
  /* top: 30px; */
}

.image-post .overlay::before {
    content: "";
    background: linear-gradient(90deg, #245EA5 0%, rgba(22, 57, 101, 0.609375) 43.13%, rgba(0, 0, 0, 0) 93.04%);;
    height: 150%;
    width: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: -150px;
    z-index: -2;
    /* opacity: 0.5; */
    transition: all 0.3s ease-out
}

.image-post:hover .overlay {
    color: white;
    background: rgb(0, 94, 170,0.5);
    height: 100%;
}

.container .image-post:hover .overlay .amount,
.container .image-post:hover .overlay .h4,
.container .image-posthover .overlay .textmuted,
.container .image-post:hover .overlay .fa-star,
.container .image-post:hover .overlay .fa-star-half-alt,
.container .image-post:hover .overlay .review {
    color: black;
}

.image-post:hover .overlay::before {
    bottom: 0px;
}

.amount {
    font-size: 15px;
}

.textmuted {
    color: #f8f8f8;
    font-weight: 200;
    font-size: 15px;
    text-transform: capitalize;
}

.fa-star,
.fa-star-half-alt {
    color: white;
    font-size: 10px;
    margin: 0 1px;
}

.review {
    font-size: 12px;
    font-weight: 200;
}





  


/* Medium devices (tablets, 768px and up) 
The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  .dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0;
    border-radius:0;
   }

   .bg-nav1{
     margin-left: -140px;
   }
}

@media (max-width: 576px) { 
    .mobile-hide{
        display: none;
    }

    .navbar-dark .navbar-nav .nav-link{
      color: white;
    }

    .bg-nav1 {
      background-color: black;
      color: white;
    }

    .desktop-hide{
      display: block;
    }
 }
  




